[submodule "inf_server/DVIS_Plus"]
	path = inf_server/DVIS_Plus
	url = https://github.com/KlingAIResearch/DVIS_Plus.git
[submodule "mask3d_feat/Mask3D"]
	path = mask3d_feat/Mask3D
	url = https://github.com/JonasSchult/Mask3D.git
[submodule "mask3d_feat/MinkowskiEngine"]
	path = mask3d_feat/MinkowskiEngine
	url = https://github.com/NVIDIA/MinkowskiEngine.git
[submodule "sign-unds"]
	path = sign-unds
	url = https://gitlab.ai-stack.dso/cyonglia/sign-unds.git
[submodule "hdbscan"]
	path = hdbscan
	url = https://github.com/wangyiqiu/hdbscan.git
