[submodule "inf_server/DVIS_Plus"]
	path = inf_server/DVIS_Plus
	url = https://github.com/KlingAIResearch/DVIS_Plus.git
[submodule "mask3d_feat/Mask3D"]
	path = mask3d_feat/Mask3D
	url = https://github.com/JonasSchult/Mask3D.git
[submodule "mask3d_feat/MinkowskiEngine"]
	path = mask3d_feat/MinkowskiEngine
	url = https://github.com/NVIDIA/MinkowskiEngine.git
[submodule "sign-unds"]
	path = sign-unds
	url = https://gitlab.ai-stack.dso/cyonglia/sign-unds.git
[submodule "hdbscan"]
	path = hdbscan
	url = https://github.com/wangyiqiu/hdbscan.git
[submodule "inf_server/export/detectron2"]
	path = inf_server/export/detectron2
	url = https://github.com/facebookresearch/detectron2.git
[submodule "cppzmq"]
	path = cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "libzmq"]
	path = libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
